extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='occurenceDate') Occurence Date:
      input#title.form-control(type='text', placeholder='occurence date' name='occurence date' required='true' value=(undefined===incident ? '' : incident.dateCreated) )
    div.form-group
      label(for='occurneceTime') Occurence Time:
      input#summary.form-control(type='textarea', placeholder='incidentType' name='incidentType' value=(undefined===book ? '' : incident.incidentType) required='true')
    div.form-group
      label(for='incidentType') Incident Type:
      input#summary.form-control(type='textarea', placeholder='incidentType' name='incidentType' value=(undefined===book ? '' : incident.incidentType) required='true')
    div.form-group
      label(for='location') Location:
      input#isbn.form-control(type='text', placeholder='Location' name='location' value=(undefined===book ? '' : incident.location) required='true') 
    div.form-group
      label(for='locationCommon') Location Common Name:
      input#summary.form-control(type='textarea', placeholder='locationCommon' name='locationCommon' value=(undefined===book ? '' : incident.locationCommon) required='true')
    div.form-group
      label(for='addPeople') Add Person:
      input#summary.form-control(type='textarea', placeholder='addPeople' name='addPeople' value=(undefined===book ? '' : incident.addPeople) required='true')
    div.form-group
      label(for='addVehicle') Add Vehicle:
      input#summary.form-control(type='textarea', placeholder='addVehicle' name='addVehicle' value=(undefined===book ? '' : incident.addVehicle) required='true')
    div.form-group
      label(for='narrative') Narrative:
      input#summary.form-control(type='textarea', placeholder='narrative' name='narrative' value=(undefined===book ? '' : incident.narrative) required='true')
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg