extends layout

block content
  h1=title
  form(method='POST' action='') 
    div.row
      div.col
        div.form-group
          label(for='formid') Form Id:
          input#formid.form-control(type='text' placeholder='2021-001' name='formid' required='true' value=(undefined===incident ? '' : incident.formid) )
    div.col-6
      p Police Report
    div.row
      div.col
        div.form-group
          label(for='occurrenceDate') Occurence Date:
          input#occurrenceDate.form-control(type='date' placeholder='01/01/2021' name='occurrenceDate' required='true' value=(undefined===incident ? '' : incident.occurence_date) )
      div.col
        div.form-group
          label(for='occurrenceTime') Occurence Time:
          input#occurrenceTime.form-control(type='time' placeholder='12:14' name='occurrenceTime' value=(undefined===incident ? '' : incident.occurrenceTime) required='true')
      div.col-6
        div.form-group
          label(for='incidentType') Incident Type:
          input#incidentType.form-control(type='textarea' placeholder='incident Type' name='incidentType' value=(undefined===incident ? '' : incident.incidentType) required='true')
    div.row
      div.col
        div.form-group
          label(for='location') Location:
          input#location.form-control(type='text' placeholder='Location' name='location' value=(undefined===incident ? '' : incident.location) required='true')
      div.col
        div.form-group
          label(for='locationCommon') Location Common Name:
          input#locationCommon.form-control(type='text' placeholder='Common Name For Location' name='locationCommon' value=(undefined===incident ? '' : incident.locationCommon) required='true')
    p ___________________________________________________________________________________________________________________________________________________________________________
    div.row
      div.col
        div.form-group
          label(for='p_code') Code:
          input#p_code.form-control(type='text' placeholder='Victim' name='p_code' required='true' value=(undefined===people ? '' : people.p_code) )
      div.col
        div.form-group
          label(for='ssn') Social Security Number:
          input#ssn.form-control(type='text' placeholder='SSN' name='ssn' required='false' value=(undefined===people ? '' : people.ssn) )
    div.row
      div.col
        div.form-group
          label(for='first_name') First Name:
          input#first_name.form-control(type='text' placeholder='First name (Christian)' name='first_name' required='true' value=(undefined===people ? '' : people.first_name) )
          label(for='middle_intial') Middle Intial:
          input#middle_intial.form-control(type='text' placeholder='Middle Intial (M)' name='middle_intial' required='true' value=(undefined===people ? '' : people.middle_intial) )
          label(for='last_name') Last Name:
          input#last_name.form-control(type='text' placeholder='Last name (Surname)' name='last_name' required='true' value=(undefined===people ? '' : people.last_name) )
    div.row
      div.col
        img(src='' alt='Person pic')
      div.col
        div.form-group
          label.input-group-text(for='inputGroupSelect01') Race
            select#inputGroupSelect01.form-select
              option(selected='') Choose...
              option#white.race(value='1') White
              option#black.race(value='2') Black
              option#hispanic.race(value='3') Hispanic
              option#indian.race(value='4') Indian
              option#asian.race(value='5') A
              option#unknown.race(value='6') U
      div.col
        div.form-group
          label.input-group-text(for='inputGroupSelect01') Gender
            select#inputGroupSelect01.form-select
              option(selected='') Choose...
              option#white.race(value='1') Male
              option#black.race(value='2') Female
              option#hispanic.race(value='3') Other
      div.col
        div.form-group
          label(for='height') Height:
          input#height.form-control(type='text' placeholder='Height' name='height' required='true' value=(undefined===people ? '' : people.height) )
      div.col
        div.form-group
          label(for='weight') Weight:
          input#weight_color.form-control(typr='text' placeholder='Weight' name='weight' required='true' value=(undefined===people ? '' : people.weight) )
      div.col
        div.form-group
          label.input-group-text(for='inputGroupSelect01') Hair Color
          select#inputGroupSelect01.form-select
            option(selected='') Choose...
            option#white.race(value='1') BGE
            option#black.race(value='2') BLK
            option#hispanic.race(value='3') BLU
            option#indian.race(value='4') DBL
            option#asian.race(value='5') LBL
            option#unknown.race(value='6') BRZ
            option#unknown.race(value='7') BRO
            option#unknown.race(value='8') GLD
            option#unknown.race(value='9') GRY
            option#unknown.race(value='10') GRN
            option#unknown.race(value='11') MAR
            option#unknown.race(value='12') ORG
            option#unknown.race(value='13') PNK
            option#unknown.race(value='14') PLE
            option#unknown.race(value='15') RED
            option#unknown.race(value='16') SIL
            option#unknown.race(value='17') TAN
            option#unknown.race(value='18') TRQ
            option#unknown.race(value='19') WHI
            option#unknown.race(value='20') YEL
            option#unknown.race(value='21') TEA
            option#unknown.race(value='22') UNK
    div.row
      div.col
        div.form-group
          label(for='date_of_birth') Date of birth:
          input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===people ? '' : people.date_of_birth_yyyy_mm_dd) )
          label(for='date_of_death') Date of death:
          input#date_of_death.form-control(type='date' name='date_of_death' value=(undefined===people ? '' : people.date_of_death_yyyy_mm_dd) )
      div.col
        div.form-group
          label.input-group-text(for='inputGroupSelect01') Eye Color
          select#inputGroupSelect01.form-select
            option(selected='') Choose...
            option#white.race(value='1') BGE
            option#black.race(value='2') BLK
            option#hispanic.race(value='3') BLU
            option#indian.race(value='4') DBL
            option#asian.race(value='5') LBL
            option#unknown.race(value='6') BRZ
            option#unknown.race(value='7') BRO
            option#unknown.race(value='8') GLD
            option#unknown.race(value='9') GRY
            option#unknown.race(value='10') GRN
            option#unknown.race(value='11') MAR
            option#unknown.race(value='12') ORG
            option#unknown.race(value='13') PNK
            option#unknown.race(value='14') PLE
            option#unknown.race(value='15') RED
            option#unknown.race(value='16') SIL
            option#unknown.race(value='17') TAN
            option#unknown.race(value='18') TRQ
            option#unknown.race(value='19') WHI
            option#unknown.race(value='20') YEL
            option#unknown.race(value='21') TEA
            option#unknown.race(value='22') UNK
    div.row
      div.col
        div.form-group
          label(for='gang_aff') Gang Affiliation:
          input#gang_aff.form-control(type='text' placeholder='Gang Affiliation' name='gang_aff' required='true' value=(undefined===people ? '' : people.gang_aff) )
      div.col 
        div.form-group
          label(for='address') Address:
          input#address.form-control(type='text' placeholder='11111 W Street dr' name='address' required='true' value=(undefined===people ? '' : people.address) )
      div.col
        div.form-group
          label(for='phone_number') Phone Number:
          input#phonenumber.form-control(type='text' placeholder='111-111-1111' name='phone_number' required='true' value=(undefined===people ? '' : people.phone_number) )
    div.row
      div.col
        div.form-group
          label(for='dl') Driver's Licence:
          input#dl.form-control(type='text' placeholder='Drivers licence' name='dl' required='false' value=(undefined===people ? '' : people.dl) )
      div.col
        div.form-group
          label(for='address2') Address:
          input#ad.form-control(type='text' placeholder='11111 W Street dr' name='address2' required='true' value=(undefined===people ? '' : people.address) )
      div.col
        div.form-group
          label(for='phone_number') Phone Number:
          input#pn.form-control(type='text' placeholder='111-111-1111' name='phone_number' required='true' value=(undefined===people ? '' : people.phone_number) )
    div.row
      div.col
        div.form-group
          label(for='smt') Scars, Marks and Tattoos:
          input#smt.form-control(type='text' placeholder='Scars/Marks/Tattoos' name='smt' required='true' value=(undefined===people ? '' : people.smt) )
      div.col
        div.form-group
          label(for='hazard') HAZARD:
          input#hazard.form-control(type='text' placeholder='HAZARD' name='hazard' required='true' value=(undefined===people ? '' : people.hazard) ) 
    p ___________________________________________________________________________________________________________________________________________________________________________
    div.row
      div.col
      div.form-group
        label(for='plate_number') Plate Number:
        input#plate_number.form-control(type='text' placeholder='Plate Number' name='plate_number' required='true' value=(undefined===vehicle ? '' : vehicle.plate_number) )
      div.col
        div.form-group
          label.input-group-text(for='inputGroupSelect01') Color
          select#inputGroupSelect01.form-select
            option(selected='') Choose...
            option#white.race(value='1') BGE
            option#black.race(value='2') BLK
            option#hispanic.race(value='3') BLU
            option#indian.race(value='4') DBL
            option#asian.race(value='5') LBL
            option#unknown.race(value='6') BRZ
            option#unknown.race(value='7') BRO
            option#unknown.race(value='8') GLD
            option#unknown.race(value='9') GRY
            option#unknown.race(value='10') MAR
            option#unknown.race(value='11') GRN
            option#unknown.race(value='12') ORG
            option#unknown.race(value='13') PNK
            option#unknown.race(value='14') PLE
            option#unknown.race(value='15') RED
            option#unknown.race(value='16') SIL
            option#unknown.race(value='17') TAN
            option#unknown.race(value='18') TRQ
            option#unknown.race(value='19') WHI
            option#unknown.race(value='20') YEL
            option#unknown.race(value='21') TEA
            option#unknown.race(value='22') UNK
      div.col
        div.form-group
          label(for='vehicle_year') Vehicle Year:
          input#vehicle_year.form-control(type='date' placeholder='Vehicle Year' name='vehicle_year' value=(undefined===vehicle ? '' : vehicle.vehicle_year) required='true')
      div.col
        div.form-group
          label(for='vehicle_make') Vehicle Make:
          input#vehicle_make.form-control(type='text' placeholder='Vehicle Make' name='vehicle_make' value=(undefined===vehicle ? '' : vehicle.vehicle_make) required='true')
      div.col
        div.form-group
          label(for='vehicle_model') Vehicel Model:
          input#vehicle_model.form-control(type='text' placeholder='Vehicle Model' name='vehicle_model' value=(undefined===vehicle ? '' : vehicle.vehicle_model) required='true')
    div.row
      div.col
        div.form-group
          label(for='vehicle_body_type') Vehicle Body Type:
          input#vehicle_body_type.form-control(type='text' placeholder='Vehicle Body Type' name='vehicle_body_type' value=(undefined===vehicle ? '' : vehicle.vehicle_body_type) required='true')
      div.col
        div.form-group
          label(for='vehicle_registration') Vehicle Registration:
          input#vehicle_registration.form-control(type='text' placeholder='Vehicle Registration' name='vehicle_registration' value=(undefined===vehicle ? '' : vehicle.vehicle_registration) required='true')
      div.col
        div.form-group
          label(for='vehicle_vin') Vehicle VIN:
          input#vehicle_vin.form-control(type='text' placeholder='Vehicle Vin' name='vehicle_vin' value=(undefined===vehcile ? '' : vehicle.vehicle_vin) required='true')
    div.row
      div.col
        div.form-group
          label(for='vehicle_details') Vehicle Details:
          input#vehicle_details.form-control(type='text' placeholder='Vehicle Details' name='vehicle_details' value=(undefined===vehicle ? '' : vehicle.vehicle_details) required='true')
    div.row
      div.col
        div.form-group
          label(for='narrative') Narrative:
          input#narrative.form-control(type='textarea' placeholder='Narrative' name='narrative' value=(undefined===incident ? '' : incident.narrative) required='true')
    div.row
      div.col
        div.form-group
          button.btn.btn-primary(type='submit') Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg
