extends layout

block content
  h1 Police Report
  p Welcome to RMS page.
  if error
    p Error getting dynamic content.
  else
    p The RMS system has the following record counts:

    ul(class='counter-color')
      li #[strong Incidents:] !{data.incident_count}
      li #[strong People:] !{data.people_count}
      li #[strong Vehicle:] !{data.vehicle_count}