extends layout

block content
  h1 Police Report
  p Welcome to RMS page.
  if error
    p Error getting dynamic content.
  else
    p The RMS system has the following record counts:

    ul(class='counter-color')
      li #[strong Incidents:] !{data}
      li #[strong People:] !{data}
      li #[strong Vehicle:] !{data}