extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='First name (Christian)' name='first_name' required='true' value=(undefined===people ? '' : people.first_name) )
      label(for='middle_intial') Middle Intial:
      input#middle_intial.form-control(type='text', placeholder='Middle Intial (M)' name='middle_intial' required='true' value=(undefined===people ? '' : people.middle_intial))
      label(for='last_name') Last Name:
      input#last_name.form-control(type='text', placeholder='Last name (Surname)' name='last_name' required='true' value=(undefined===people ? '' : people.last_name))
    div.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date', name='date_of_birth' value=(undefined===people ? '' : people.date_of_birth_yyyy_mm_dd) )
    div.form-group
      label(for='date_of_death') Date of death:
      input#date_of_death.form-control(type='date', name='date_of_death' value=(undefined===people ? '' : people.date_of_death_yyyy_mm_dd) )
    div.form-group
      label(for='hair_color') Hair Color:
      input#hair_color.form-control(type='text', placeholder='Hair Color' name='hair_color' required='true' value=(undefined===people ? '' : people.hair_color) )
    div.form-group
      label(for='eye_color') Eye Color:
      input#eye_color.form-control(type='text', placeholder='Eye Color' name='eye_color' required='true' value=(undefined===people ? '' : people.eye_color) )
    div.form-group
      label(for='weight') Weight:
      input#weight_color.form-control(typr='text', placeholder='Weight' name='weight' required='true' value=(undefined===people ? '' : people.weight) )
    div.form-group
      label(for='height') Height:
      input#height.form-control(typr='text', placeholder='Height' name='height' required='true' value=(undefined===people ? '' : people.height) )
    div.form-group
      label(for='origin') Origin/Race:
      input#origin.form-control(typr='text', placeholder='Origin' name='origin' required='true' value=(undefined===people ? '' : people.origin) )
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg