extends layout

block content
div(class='row')
  div(class='col-sm')
    p
  div(class='col-sm')
    p
  div(class='col-sm')
    p
  div(class='col-sm')
    p
  div(class='col-sm')
    p
div(class='row')
  div(class='col-sm')
    p
  div(class='col-sm')
    p 
  div(class='col-sm')
    p
div(class='row')
  p
div(class='row')
  p