extends layout

block content
  h1= title

  ul
    each vehicle in vehicle_list
      li
        a(href=vehicle.url) 
        //#{vehcile}
        //|  (#{vehicle.lifespan})

    else
      li There are no vehicles.