extends layout

block content
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
    script.
      function addDarkmodeWidget() {
      new Darkmode().showWidget();
      }
      window.addEventListener('load', addDarkmodeWidget);
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js', integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0', crossorigin='anonymous')
  h1= title

  ul
    each vehicle in vehicle_list
      li
        a(href=vehicle.url) #{vehicle.model}
        |  (#{vehicle.make})

    else
      li There are no vehicles.