h1{
  color: #4F8CC9;
}

p{
  color: #4F8CC9;
}

.main-container{
  text-align: center;
  color: #4F8CC9;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  color: #4F8CC9;
}

.counter-color{
  text-decoration: none;
  list-style: none;
  color: #4F8CC9;
}

.form-group{
  color: #4f8cc9;
}

.border{
  border: 1px solid #4F8CC9;
  text-align: center;
}